body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  background-color: #f0f0f0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}
.tulip {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 200px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tulip-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 200px;
  opacity: 0;
  transition: opacity 0.3s;
}

.stem {
  width: 5px;
  height: 0;
  background-color: #6b8e23;
  position: absolute;
  bottom: 0;
  transition: height 0.3s ease-out;
}

.flower {
  position: absolute;
  bottom: 150px;
  left: -12px;
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.petal {
  position: absolute;
  width: 15px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50% 50% 0 0;
  transform-origin: bottom center;
}

.petal-left {
  transform: rotate(-20deg);
  left: 0;
}

.petal-right {
  transform: rotate(20deg);
  right: 0;
}

.petal-center {
  left: 7.5px;
}

.message {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #484E57;
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  transition: opacity 0.5s ease-out;
}

.scroll-indicator {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: #333;
  opacity: 1;
  animation: bounce 2s infinite;
  transition: opacity 0.3s ease-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .tulip-container {
    width: 40px; /* Adjust width for smaller screens */
    height: 160px; /* Adjust height for smaller screens */
  }

  .flower {
    bottom: 150px; /* Adjust position for smaller screens */
    left: -12px; /* Adjust position for smaller screens */
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
  }

  .message {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
}

.vase {
  position: absolute;
  bottom: 0;
  left: 2px;
  transform: translateX(-50%);
  width: 30px;
  height: 50px;
  background-color: #B5BDC3; /* Brown color for the vase */
  border-radius: 15px 15px 0 0; /* Rounded top */
  opacity: 0;
  z-index: 100;
  transition: opacity 0.3s, transform 0.3s ease-out;
}

